.main-view {
	position: relative;
}
.main-view__bottom-panel {
	position: absolute;
	bottom: 0;
	left: 0;
	pointer-events: none;
	padding: 8px;
	width: 100%;
}
.main-view__left-side-bar {
	position: absolute;
	top: 65px;
	width: 320px;
}
.main-view__right-side-bar {
	position: absolute;
	top: 65px;
	right: 0;
	width: 290px;
}
.main-view__creation-panel {
	margin-bottom: 10px;
}
.main-view__transfer-calculation-panel {}