.pause-button {
	border: none;
	border-radius: 2px;
	color: var(--white-text);
	cursor: pointer;
	display: block;
	font-size: 10px;
	background-color: #25272c;
	height: 100%;
	width: 100%;
}

.pause-button:hover,
.pause-button:active,
.pause-button:focus {
	background: var(--gray);
}

.pause-button:focus {
	outline: none;
}

.pause-button--paused,
.pause-button--paused:hover,
.pause-button--paused:active,
.pause-button--paused:focus {
	background-color: var(--blue);
}

.pause-button--paused:focus {
	outline: none;
}