@import "../variables";

.expand-button {
	$b: &;

	align-items: center;
	background-color: $black;
	font-size: 0.8rem;
	display: flex;
	justify-content: center;
	cursor: pointer;

	&:hover {
		background-color: $gray;
	}

	&--expanded {
		background-color: $blue;

		&:hover {
			background-color: $lightning-blue;
		}

		& #{$b}__icon {
			transform: rotateZ(180deg);
		}
	}
}
