@import "~simplebar/dist/simplebar.css";
@import "../variables";

$urbain-simplebar-scroll-size: 0.5rem;

.simplebar-track {
	background-color: $gray;
	border-radius: $urbain-simplebar-scroll-size / 2;

	&.horizontal {
		height: $urbain-simplebar-scroll-size;

		.simplebar-scrollbar {
			bottom: 0;
			height: $urbain-simplebar-scroll-size;
		}
	}

	&.vertical {
		width: $urbain-simplebar-scroll-size;

		.simplebar-scrollbar {
			right: 0;
			width: $urbain-simplebar-scroll-size;
		}
	}
}

.simplebar-scrollbar {
	$bg-color: $black-border;

	background-color: $bg-color;
	border-radius: $urbain-simplebar-scroll-size / 2;
	opacity: 1;

	&:hover {
		background-color: $bg-color;
		opacity: 1;
	}

	&::before {
		background-color: $bg-color;
		opacity: 1;


		&:hover {
			background-color: $bg-color;
		}
	}
}



