@import "~simplebar/dist/simplebar.css";
@import "../variables";

$urbain-simplebar-scroll-size: 0.4rem;

.simplebar-track {
	&.simplebar-horizontal {
		height: $urbain-simplebar-scroll-size;

		.simplebar-scrollbar {
			height: $urbain-simplebar-scroll-size;
		}

		&.simplebar-hover {
			height: $urbain-simplebar-scroll-size * 4;
		}
	}

	&.simplebar-vertical {
		width: $urbain-simplebar-scroll-size;

		.simplebar-scrollbar {
			width: $urbain-simplebar-scroll-size;
		}

		&.simplebar-hover {
			width: $urbain-simplebar-scroll-size * 4;
		}
	}
}

.simplebar-scrollbar {
	$bg-color: $black-border;

	background-color: $bg-color;
	border-radius: $urbain-simplebar-scroll-size;
	opacity: 1;

	&.simplebar-hover {
		background-color: $bg-color;
		opacity: 1;
	}
}



