.panel {
	background-color: #25272c;
	border-radius: 2px;
	font-family: monospace;
	pointer-events: auto;
}
.panel__header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 2px;
}
.panel__caption {
	align-items: center;
	display: flex;
}
.panel__collapse-button {}
.panel__content {}
