.panel {
	background-color: var(--gray);
	border-radius: 2px;
	font-family: monospace;
	pointer-events: auto;
	padding-bottom: 5px;
}

.panel--hidden {
	display: none;
}

.panel--collapsed {}

.panel__header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 2px;
}

.panel__caption {
	align-items: center;
	display: flex;
}

.panel__caption-icon {
	color: #8e9092;
	margin-top: 0;
	margin-left: 5px;
	margin-bottom: 0;
	font-size: 13px;
}

.panel__caption-text {
	margin-left: 8px;
}

.panel__collapse-button {
	border-radius: 2px;
	margin-top: 3px;
	margin-right: 3px;
	padding: 2px 5px;
}

.panel__collapse-button:hover,
.panel__collapse-button:active {
	background-color: #2d2f35;
}

.panel__content {}

.panel__field {
	align-items: center;
	display: flex;
	margin: 10px 5px 0;
	background-color: var(--dark-gray);
	border: 1px solid var(--black-border);
	border-radius: 2px;
	padding: 8px;
	position: relative;
}

.panel__field--left-aligned {
	justify-content: flex-start;
}

.panel__field--centered {
	justify-content: space-between;
}

.panel__field-set {
	display: block;
}

.panel__field-set .panel__field {
	border-bottom: none;
	border-top: none;
	border-radius: 0;
	margin-top: 0;
}

.panel__field-set .panel__field:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-top: 1px solid #191a1e;
	margin-top: 10px;
}

.panel__field-set .panel__field:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom: 1px solid #191a1e;
}

.panel__field-label {
	color: var(--gray-text);
	min-width: 80px;
}

.panel__field-label-small {
	color: var(--gray-text);
	min-width: 40px;
}

.panel__field-control {}

.panel__field-header {
	color: var(--blue-text);
}

.panel__button {
	position: absolute;
	right: 5px;
}