.main-menu {
	display: flex;
	align-items: center;
}

.main-menu__item {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	margin: 0 9px;
	padding: 0 8px;
}

.main-menu__item--clickable:hover {
	border-radius: 3px;
	background: var(--gray);
	cursor: pointer;
	padding: 5px 8px;
}

.main-menu__item--with-caret {}
.main-menu__item--with-caret::after {
	content: "";
	background: url("/images/chevron-down-solid.svg") 0 0 no-repeat;
	height: 10px;
	margin-left: 10px;
	width: 10px;
}

.main-menu__item--logo {
	background: url("/images/urbain-logo.png") 10px 12px no-repeat;
	background-size: 70px;
	border-right: 1px solid var(--gray);
	height: 100%;
	width: 104px
}