.camera-panel {}
.camera-panel__field {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 10px 5px 0;
	background-color: #212226;
	border: 1px solid #191a1e;
	border-radius: 2px;
	padding: 8px;
}
.camera-panel__field-control {
	font-size: 10px;
}
.camera-panel__icon {
	color: #8e9092;
	margin-left: 5px;
	margin-right: 8px;
	font-size: 14px;
}
.camera-panel__content {
	height: 100px;
}