.bottom-panel {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
}
.bottom-panel__pause-button-container {
	pointer-events: auto;
	margin: 0 8px;
	height: 58px;
	width: 60px;
}
.bottom-panel__time-line-container {
	border-radius: 2px;
	flex-grow: 2;
}

.bottom-panel__camera-panel {
	margin-left: 8px;
	width: 240px;
}

.bottom-panel__time-settings-panel-container {
	width: 300px;
}