.bottom-panel {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
}
.bottom-panel__pause-button-container {
	height: 45px;
	width: 45px;
}
.bottom-panel__camera-panel {
	margin-left: 10px;
	width: 240px;
}
.bottom-panel__time-line-container {
	flex-grow: 2;
	height: 45px;
}
.bottom-panel__time-panel {
	width: 240px;
}