.bottom-panel {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
}

.bottom-panel__time-settings-panel {
	margin-right: 8px;
	min-width: 300px;
}

.bottom-panel__pause-button {
	pointer-events: auto;
	margin-right: 8px;
	height: 58px;
	min-width: 60px;
}

.bottom-panel__time-line-container {
	flex-grow: 2;
	height: 58px;
	margin-right: 8px;
	min-width: 150px;
}

.bottom-panel__time-line {
	height: 58px;
	width: 100%;
}

.bottom-panel__camera-panel {
	min-width: 240px;
}
