@import "../../../../../../ui/components/common/variables";

.searcher {
	$border-style: 1px solid $dialog-border-color;

	align-items: stretch;
	border: $border-style;
	display: flex;
	justify-content: space-between;
	height: 25px;

	&__autocomplete {
		flex-grow: 1;
		height: 100%;
		position: relative;
	}

	&__autocomplete-search-logo {
		fill: $gray-text;
		margin-left: 0.5rem;
		position: absolute;
		width: 1.5rem;
		z-index: 2;
	}

	&__autocomplete-input {
		.react-autosuggest__input {
			padding-left: 2.5rem;
		}
	}

	&__search-button {
		border-left: $border-style;
		border-radius: 0;
		font-size: 1.2rem;
		height: 100%;
		padding: 0 2 * $default-gap-size;
	}
}