.transfer-calculation-panel {}

.transfer-calculation-panel__dimension {
	color: var(--gray-text);
	margin-left: 5px;
}

.transfer-calculation-panel select {
	font-size: 10px;
}

.transfer-calculation-panel .panel__field-label {
	min-width: 100px;
}