html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

.diagnostic-info-switcher {
    position: absolute;
    left: 200px;
    top: 60px;
    width: 245px;
}

.fps-badge {
    margin-top: 60px;
    height: 30px;
}

button {
    float: right;
    background-color: #666;
    border: 1px solid #999;
}

button:hover {
    background-color: #999;
}

#leftPanel {
    position: absolute;
    left: 0;
    top: 0;
    margin-right: auto;
    margin-bottom: auto;
    background-color: black;
    opacity: 1;
    font: 13px/1.231 "Lucida Grande", Lucida, Verdana, sans-serif;
}

#bottomPanel {
    position: absolute;
    bottom: 0;
    left: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    pointer-events: none;
}

#timeLineCanvas {
    height: 35px;
    pointer-events: auto;
}

#metricsPanel {
    position: absolute;
    top: 0;
    right: 0;
}

#creationPanel {
    position: absolute;
    top: 100px;
    left: 0;
}

#lambertPanel {
    position: absolute;
    top: 200px;
    left: 0;
}

#metricsHeader {
    min-width: 280px;
}

#timeBoxHeader {
    min-width: 300px;
}

#cameraBoxHeader {
    min-width: 235px;
}

#pauseButton {
    width: 65px;
}

.panel {
    display: inline-block;
    border: 1px solid black;
    background-color: #1a1a1a;
    color: white;
    font-family: monospace;
    font-size: 14px;
    pointer-events: auto;
}

.panelHeader {
    font-weight: bold;
    width: 100%;
}

.panelHeader td {
    text-align: center;
}

.metrics {
    width: 100%;
}

.collapseButton {
    width: 49px;
}
