.vector-component {
	align-items: center;
	display: flex;
	justify-content: flex-start;
}
.vector-component__label {
	color: var(--gray-text);
	min-width: 30px;
}
.vector-component__value {}
.vector-component__dimension {
	margin-left: 4px;
}
