@import "~intro.js/introjs.css";

@import "../common/global-styles/global";
@import "../common/variables";
@import "wizard-buttons";

.introjs-helperNumberLayer {
	display: none;
}

.urbain-tutorial-wizard {
	$button-margin: 3rem;

	background-color: $white;
	border-radius: $border-radius;
	color: #131519;
	font-size: 1.2rem;
	padding: 2rem;
	max-width: 580px;

	.introjs-tooltiptext {
		font-size: 1.2rem;
		line-height: 1.5rem;
		padding-bottom: 2rem;
		text-align: justify;
	}

	.introjs-progress {
		border-radius: 2px;
		margin-bottom: 1rem;
	}

	.introjs-progressbar {
		background-color: #7a9ffa;
	}

	.introjs-tooltipbuttons {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.introjs-button {
		@include button-styles;
		@include urbain-tutorial-wizard-button;

		width: calc(50% - #{$button-margin} / 2);
	}

	.introjs-skipbutton {
		display: none;
		margin-right: 0;

		&.introjs-donebutton {
			@include urbain-tutorial-wizard-button-default;

			display: inline-block;
			order: 2;
		}
	}

	.introjs-prevbutton {
		@include urbain-tutorial-wizard-button-secondary;

		order: 3;
	}

	.introjs-nextbutton {
		@include urbain-tutorial-wizard-button-default;

		order: 2;
	}

	&__content {
		&--wide {
			width: 400px
		}
	}

}