.maneuver-panel__button {
    border-radius: 2px;
    margin-bottom: 2px;

    &:not(:first-child) {
        margin-left: 8px;
    }
}

.maneuver-panel__button-block {
    position: absolute;
    right: 8px;
}
