@import "../../common/variables";
@import "../wizard-buttons";

.language-selector-wrapper {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;

	&::before {
		background-color: #000;
		content: "";
		height: 100%;
		left: 0;
		opacity: 0.8;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 999999;
	}
}

.language-selector {
	background-color: $white;
	border-radius: $border-radius;
	display: flex;
	min-width: 300px;
	max-width: 580px;

	position: absolute;

	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 9999999;

	&__column {
		padding: 20px;
		max-width: 50%;
	}

	&__content {
		margin-bottom: 10px;
	}

	&__button {
		@include urbain-tutorial-wizard-button;
		@include urbain-tutorial-wizard-button-default;

		display: block;
	}
}