@import "../../../common/variables";

.searcher {
	align-items: center;
	display: flex;
	justify-content: space-between;

	&__autocomplete {
		flex-grow: 1;
	}

	&__autocomplete-label {
		margin-bottom: $default-gap-size / 2;
	}

	&__input {
		width: 100%;
		height: 20px;
	}

	&__search-button {
		padding-left: 10px;
		padding-right: 10px;
	}

	&__search-button-wrapper {
		margin: 0 $default-gap-size;
	}

	&__column {
		margin: 0 $default-gap-size;
	}
}

.satellite-option {
	display: flex;
	justify-content: space-between;

	&__norad-id {
		border: 1px solid $gray;
		color: $gray-text;
		padding: $default-gap-size / 4;
	}

	&__name {
		flex-grow: 1;
		margin-left: $default-gap-size;
		text-decoration: underline;
	}

	&__launch-date {
		margin-left: $default-gap-size;
	}
}