.app-layout {
	color: #fdfdfd;
	position: relative;
}
.app-layout__header {
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
	height: 55px;
}
.app-layout__main {}
.app-layout__footer {
	background: #999;
	height: 30px;
}