@import "../variables";

@mixin button-styles() {
	background-color: $black;
	border: none;
	cursor: pointer;
	color: $white-text;
	font-size: 1rem;
	outline: none;
	padding: 0.4rem 0.8rem;

	&:hover,
	&:active {
		background-color: $gray;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}