$white: #f4f4f4;
$black: #131519;
$black-border: #111317;
$blue: #0045f2;
$lightning-blue: #2a49fb;
$gray: #1f2228;
$dark-gray: #1a1c21;

$blue-text: #6d69ff;
$gray-text: #838485;
$white-text: #fdfdfd;

$border-radius: 0.3rem;
$default-gap-size: 0.8rem;