@import "global";

.app-layout {
	color: var(--white-text);
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;

	&__main {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		flex-grow: 2;
		position: relative;
		width: 100%;
	}

	&__header {
		background: transparent;
		position: fixed;
		top: 8px;
		left: 8px;
		z-index: 99999;
	}

	&__footer {}
}