.app-layout {
	color: var(--white-text);
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.app-layout__main {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-grow: 2;
	height: 100%;
	position: relative;
	width: 100%;
}

.app-layout__header {
	background: transparent;
	position: fixed;
	top: 8px;
	left: 8px;
}
.app-layout__footer {
	z-index: 1;
}