:root {
	--black: #1a1b1e;
	--blue: #2846ed;
	--lightning-blue: #2a49fb;
	--gray: #393b40;
	--dark-gray: #25272c;
	--blue-text: #6f88e6;
	--white-text: #fdfdfd;
}

html {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

*, ::after, ::before {
	box-sizing: border-box;
}

.app-layout {
	color: var(--white-text);
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.app-layout__main {
	// background: aquamarine;

	height: 100%;
	position: relative;
	width: 100%;
}

.app-layout__header {
	background: transparent;
	position: fixed;
	top: 8px;
	left: 8px;
}
.app-layout__footer {
	background: #a18aff;
	height: 20px;
	// width: calc(100% - 16px);
}