:root {
	--black: #1a1b1e;
	--blue: #2846ed;
	--lightning-blue: #2a49fb;
	--gray: #393b40;
	--dark-gray: #25272c;
	--blue-text: #6f88e6;
	--white-text: #fdfdfd;
}

html {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

*, ::after, ::before {
	box-sizing: border-box;
}

button {
	background-color: #666;
	border: 1px solid #999;
}

button:hover,
button:focus,
button:active {
	background-color: #999;
}