@import "../variables";

.expand-button {
	$b: &;
	$size: 15px;

	align-items: center;
	background-color: $black;
	display: flex;
	justify-content: center;
	cursor: pointer;
	padding: 0;
	height: $size;
	width: $size;

	&:hover {
		background-color: $gray;
	}

	&__icon {
		height: $size;
		width: $size;
	}

	&--expanded {
		background-color: $blue;

		&:hover {
			background-color: $lightning-blue;
		}

		& #{$b}__icon {
			transform: rotateZ(180deg);
		}
	}
}
